*{
    margin: 0;
    pad: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.Navbar{
    display: flex;
    height: 60px;
    background-color: #0f1111;
    color: white;

    align-items: center;
    justify-content: space-between
}
.Nav-logo{
height: 60px;
width: 130px;
}
.logo{
img{

    height: 56px;
    width: 130px ;
  
}
background-color: #0f1111;
background-size:cover
}
.Nav-Add{
    color: white
    
}
.Nav-Search{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 500px;
    border: none;
    border-radius: 10px;
   
    background-color:pink
    
    
    
}

.Search{
    height: 50px;
    border: none;
     border-radius: 10px 00px 0px 10px;


}
.input{
    height: 48px;
    width: 400px;
    border: none;
     border-radius:  00px 0px 0px 00px;

}
.search-icon{
    display: flex;
height: 20px;
width: 60px;
align-items: center;
justify-content: center;
justify-content: center;
border: none;
border-radius:  00px 10px 10px 00px;

}
.pannel{
    background-color:  #222f3d;
    color: white;
    height: 50px;
    display: flex;

    
}
.al{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20px;
}
.pannel-op{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
  
   
}
.deals{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.hero{
    background-image: url(.vscode/AmazonBack.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
}
.bar3{
 display: flex;
    height: 60px;
    background-color: white;
    width: 100%;
    position: relative;
    top: 100px;
    justify-content: center;
    align-items: center;
    gap: 100px;
  


}
a{
    text-decoration: none;
    text-transform: none;
    color: brown
}

.shopbox{

    display: flex;
    justify-content: space-between;
       background-color: #f0f8ff;
    border-color: #e2e7e6;
    
}
h2{
    padding: 10px;
   
}
.box{

background-color: white;

    display: flex;
    justify-content: space-evenly;
    height: 400px;
    width: 400px;
   
}
.box{
   display: block;
   
}
.newB{
    height: 400px;
    width: 100%;
       background-color: #f0f8ff;
 
    
}
.blc{
 height: 100px;
 width: 100%;
}
.acce{
    display: flex;
    justify-content: space-between;

}
.c{
    height: 300px;
    width: 250px;
}

.b2t{
    display: flex;
    position: relative;
    top :10px;
    height: 70px;
    width: 100%;
    background-color:  #222f3d;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
}

.theory{
    height: 400px;
    width: 100%;
     background-color:  #222f3d;
       display: flex;
       color: white;
    
}
.b{
    display: flex;
    height: 400px;
    width: 25%;
    justify-content: space-between;
    font-size: large;
    color: white;
    justify-content: center;
    align-items: start;

    
}
a{
    color: #e2e7e6;
}
ul{
    list-style-type: none;


    
}
li{
    padding-top: 15px;
    padding-left: 15px;
}
.end{
    padding-top: 35px;
padding-left: 500px;
 background-color: #222f3d;;
    height: 70px;
    width: 100%;
    color: white;

}



